<html>
    <head>
        <title>To Do List</title>
    </head>
    <body>
        <h1>Welcome to The University Registrar</h1>
        
        <h3><a href="/classes">Add or view a Class</a></h3>
        <h3><a href="/students">Add or view a Student</a></h3>
    </body>
</html>